<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Interviews</title>
    <link href="/css/listInterviews.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h2>List of Interviews</h2>
    <% for(let x of interviews) {%>
    <table>
      <div>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>Candidate</td>
          <td><%= x.candidate.name %></td>
          <td><%= x.candidate.email %></td>
          <td><%= x.candidate.phone %></td>
        </tr>
        <tr>
          <td>Timings</td>
          <td><%= x.startTime %></td>
          <td><%= x.endTime %></td>
          <td>
            <form action=<%="/admin/interview/add?edit="+x._id %> method="GET">
              <button type="submit" name="editID" value=<%=x._id%>>Edit</button></td>
            </form>
        </tr>
        <% for (let y of x.interviewer){%>
        <tr>
          <td>Interviewer</td>
          <td><%= y.name %></td>
          <td><%= y.email %></td>
          <td><%= y.phone %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <% } %>
      </div>
      <% }%>
    </table>
  </body>
</html>
